@using Microsoft.AspNet.Identity
@using ProjectFood.WebUI.Infrastructure
@model ProjectFood.Domain.Entities.Recipe

@{
    ViewBag.Title = Model.RecipeName;
    var ingredientCount = RecipeHelper.GetIngredientList(Model.Ingredients).Count;
    var ingredients = RecipeHelper.GetIngredientList(Model.Ingredients);
    var column = 1;
}

<h2>@Model.RecipeName</h2>

<div>
    @*<h4>@Model.RecipeName</h4>*@
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <img src="@Url.Action("GetImage", "Recipe", new {recipeId = Model.RecipeId})" style="width: 100%"/>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(m => m.RecipeDescription)
        </div>
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(m => m.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region.RegionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region.RegionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredients)
        </dt>

        <dd>
            <table class="table table-striped">
                @for (int i = 0; i < ingredientCount; i++)
                {
                    <tr>
                        <td>@ingredients[i++]</td>
                        @if (i < ingredientCount)
                        {
                            <td>@ingredients[i]</td>
                        }
                    </tr>
                }
            </table>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Directions)
        </dt>

        <dd>
            @Html.Raw(Model.Directions)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Likes)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.Likes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dislikes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dislikes)
        </dd>*@
    </dl>
</div>
<p>
    @if (User.Identity.IsAuthenticated && (User.IsInRole("Administrators") || Model.UserId == Int32.Parse(User.Identity.GetUserId())))
    {
        @Html.ActionLink("Edit", "Edit", new {id = Model.RecipeId}, new {@class = "btn btn-primary"}) @:|
    }
    @Html.ActionLink("Back to List", "Index", null, new {@class = "btn btn-default"})
</p>
